---
- name: Verify required autostart variables are defined
  fail:
    msg: "Required variable '{{ item }}' is not defined for autostart configuration."
  when: item is not defined
  with_items:
    - autostart_app_name
    - autostart_app_type

- name: Verify autostart_app_type has a valid value
  fail:
    msg: "The autostart_app_type variable must be one of 'Application', 'Link', or 'Directory'."
  when: autostart_app_type not in ['Application', 'Link', 'Directory']

- name: Verify autostart_app_exec is defined for Application type
  fail:
    msg: "The autostart_app_exec variable must be defined and not empty for Application type."
  when: autostart_app_type == 'Application' and (autostart_app_exec is not defined or autostart_app_exec | trim == "")

- name: Verify autostart_app_url is defined for Link type
  fail:
    msg: "The autostart_app_url variable must be defined and not empty for Link type."
  when: autostart_app_type == 'Link' and (autostart_app_url is not defined or autostart_app_url | trim == "")

- name: Create GNOME autostart directory if it doesn't exist
  file:
    path: "{{ ansible_env.HOME }}/.config/autostart"
    state: directory
    mode: '0755'

- - name: Create autostart desktop entry
   template:
    src: autostart_app.desktop.j2
    dest: "{{ ansible_env.HOME }}/.config/autostart/{{ autostart_app_name }}.desktop"
    mode: '0644'
