---
- name: Install Gnome Settings Packages
  become: yes # noqa: yaml[truthy]
  apt:
    name: "{{ gnome_settings_packages }}"
    state: present
    update_cache: true

- name: Include Gnome Settings tasks
  include_tasks: gnome_settings.yml

- name: Include gnome initial setup
  include_tasks: gnome-initial-setup.yml

- name: Check if Tilix profile file exists
  stat:
    path: "{{ tilix_profile_filename }}"
  register: tilix_profile_file

- name: Include Tilix handling task if tilix_profile_filename is set and file exists
  include_tasks: tilix.yml
  when:
    - tilix_profile_filename is defined
    - tilix_profile_file.stat.exists
