---
- command: gsettings set org.gnome.shell.extensions.ding show-trash {{ show_trash | lower }}
  changed_when: true

- name: Hide home icon
  command: gsettings set org.gnome.shell.extensions.ding show-home {{ show_home | lower }}
  changed_when: true

- name: Set titlebar font
  command: gsettings set org.gnome.desktop.wm.preferences titlebar-uses-system-font {{ titlebar_uses_system_font | lower }}
  changed_when: true

- name: Set screensaver idle activation
  command: gsettings set org.gnome.desktop.screensaver idle-activation-enabled {{ screensaver_idle_activation_enabled | lower }}
  changed_when: true

- name: Set lock screen
  command: gsettings set org.gnome.desktop.screensaver lock-enabled {{ lock_screen_enabled | lower }}
  changed_when: true

- name: Set lock screen (lockdown)
  command: gsettings set org.gnome.desktop.lockdown disable-lock-screen {{ lock_screen_disable_lock_screen | lower }}
  changed_when: true

- name: Set desktop background options
  shell: "gsettings set org.gnome.desktop.background {{ item }}"
  changed_when: true
  with_items: "{{ desktop_background }}"

- name: Set desktop interface options
  shell: "gsettings set org.gnome.desktop.interface {{ item }}"
  changed_when: true
  with_items: "{{ desktop_interface }}"

- name: Set dash-to-dock settings
  shell: "gsettings set org.gnome.shell.extensions.dash-to-dock {{ item }}"
  changed_when: true
  with_items: "{{ dock }}"

- name: Disable services
  systemd:
    name: "{{ item }}"
    enabled: no
    masked: yes
    state: stopped
  loop: "{{ disabled_services }}"

-  block:
  - name: Install GNOME Shell extensions
    command: gnome-shell-extension-installer {{ uuid }} --yes
    register: extension_install
    changed_when: "'Extension installed' in extension_install.stdout"
    failed_when: extension_install.rc != 0 and 'already installed' not in extension_install.stderr
    loop: "{{ gnome_shell_extension_uuids }}"
    loop_control:
      loop_var: uuid

  - name: Enable GNOME Shell extensions
    command: gnome-extensions enable {{ uuid }}
    when: "'Extension installed' in extension_install.stdout"
    loop: "{{ gnome_shell_extension_uuids }}"
    loop_control:
      loop_var: uuid

  ########

  - name: Include Tilix task
    include_task: tilix.yml
