---
- name: Install Gnome Settings Packages
  become: yes
  apt:
    name: "{{ gnome_settings_packages }}"
    state: present
    update_cache: true

- name: Include Tilix handling task
  include_tasks: tilix.yml
  vars:
    tilix_profile_filename: "{{ gnome_settings_tilix_profile_filename }}"

- name: Include Gnome Settings tasks
  include_tasks: gnome_settings.yml

#############################################################################
- name: Ensure /etc/gnome-initial-setup directory exists
  become: yes
  file:
    path: /etc/gnome-initial-setup
    state: directory
    mode: "0755"

- name: Copy vendor.conf to /etc/gnome-initial-setup
  become: yes
  copy:
    src: vendor.conf
    dest: /etc/gnome-initial-setup/vendor.conf
    mode: "0644"
