---
- name: Hide trash icon
  command: gsettings set org.gnome.shell.extensions.ding show-trash {{ gnome_settings_show_trash | lower }}
  changed_when: true

- name: Hide home icon
  command: gsettings set org.gnome.shell.extensions.ding show-home {{ gnome_settings_show_home | lower }}
  changed_when: true

- name: Set titlebar font
  command: gsettings set org.gnome.desktop.wm.preferences titlebar-uses-system-font {{ gnome_settings_titlebar_uses_system_font | lower }}
  changed_when: true

- name: Set screensaver idle activation
  command: gsettings set org.gnome.desktop.screensaver idle-activation-enabled {{ gnome_settings_screensaver_idle_activation_enabled | lower }}
  changed_when: true

- name: Set lock screen
  command: gsettings set org.gnome.desktop.screensaver lock-enabled {{ gnome_settings_lock_screen_enabled | lower }}
  changed_when: true

- name: Set lock screen (lockdown)
  command: gsettings set org.gnome.desktop.lockdown disable-lock-screen {{ gnome_settings_lock_screen_disable_lock_screen | lower }}
  changed_when: true

- name: Set desktop background options
  command: gsettings set org.gnome.desktop.background {{ item }}
  changed_when: true
  with_items: "{{ gnome_settings_desktop_background }}"

- name: Set desktop interface options
  command: gsettings set org.gnome.desktop.interface {{ item }}
  changed_when: true
  with_items: "{{ gnome_settings_desktop_interface }}"

- name: Set dash-to-dock settings
  command: gsettings set org.gnome.shell.extensions.dash-to-dock {{ item }}
  changed_when: true
  with_items: "{{ gnome_settings_dock }}"

- name: Disable services
  systemd:
    name: "{{ item }}"
    enabled: false
    masked: true
    state: stopped
  loop: "{{ gnome_settings_disabled_services }}"

- name: Apply dock settings
  command: gsettings set org.gnome.shell.extensions.dash-to-dock {{ item.key }} {{ item.value }}
  loop: "{{ lookup('dict', gnome_settings_dock_settings) }}"
  loop_control:
    label: "{{ item.key }}"
  changed_when: true

- name: Include Tilix handling task
  include_tasks: tilix.yml
  vars:
    tilix_profile_filename: "{{ gnome_settings_tilix_profile_filename }}"
