---
- include_tasks: tilix_profile.yml
- name: Include tilix tasks
  include_tasks: tilix.yml

- name: Hide trash icon
  command: gsettings set org.gnome.shell.extensions.ding show-trash {{ gnome_settings_show_trash | lower }}

- name: Hide home icon
  command: gsettings set org.gnome.shell.extensions.ding show-home {{ gnome_settings_show_home | lower }}

- name: Set desktop background options
  shell: "gsettings set org.gnome.desktop.background {{ item }}"
  with_items: "{{ gnome_settings_desktop_background }}"

- name: Set desktop interface options
  shell: "gsettings set org.gnome.desktop.interface {{ item }}"
  with_items: "{{ gnome_settings_desktop_interface }}"

- name: Set titlebar font
  command: gsettings set org.gnome.desktop.wm.preferences titlebar-uses-system-font {{ gnome_settings_titlebar_uses_system_font | lower }}

- name: Autostart Tilix on login
  include_tasks: create_autostart.yml
  vars:
    autostart_app_name: "Tilix"
    autostart_app_exec: "tilix"
    autostart_app_comment: "Tilix terminal emulator"
    autostart_app_terminal: false
    autostart_app_hidden: false

- name: Enable auto-hide for the dock
  command: gsettings set org.gnome.shell.extensions.dash-to-dock autohide true

- name: Enable panel mode for the dock
  command: gsettings set org.gnome.shell.extensions.dash-to-dock extend-height false

- name: Set dock icon size
  command: gsettings set org.gnome.shell.extensions.dash-to-dock dash-max-icon-size 40

- name: Set dock position to left
  command: gsettings set org.gnome.shell.extensions.dash-to-dock dock-position 'LEFT'

- name: Disable show volumes and devices on the dock
  command: gsettings set org.gnome.shell.extensions.dash-to-dock show-mounts false

- name: Enable auto-hide for the dock
  command: gsettings set org.gnome.shell.extensions.dash-to-dock autohide {{ gnome_settings_dock_autohide }}

- name: Enable panel mode for the dock
  command: gsettings set org.gnome.shell.extensions.dash-to-dock extend-height {{ gnome_settings_dock_extend_height }}

- name: Set dock icon size
  command: gsettings set org.gnome.shell.extensions.dash-to-dock dash-max-icon-size {{ gnome_settings_dock_icon_size }}

- name: Set dock position to left
  command: gsettings set org.gnome.shell.extensions.dash-to-dock dock-position {{ gnome_settings_dock_position }}

- name: Disable show volumes and devices on the dock
  command: gsettings set org.gnome.shell.extensions.dash-to-dock show-mounts {{ gnome_settings_dock_show_mounts }}

- name: Disable services
  become: yes
  systemd:
    name: "{{ item }}"
    enabled: no
    masked: yes
    state: stopped
  loop: "{{ gnome_settings_disabled_services }}"
