---
- include_tasks: tilix.yml

- name: Hide trash icon
  command: gsettings set org.gnome.shell.extensions.ding show-trash {{ show_trash | lower }}

- name: Hide home icon
  command: gsettings set org.gnome.shell.extensions.ding show-home {{ show_home | lower }}

- name: Set titlebar font
  command: gsettings set org.gnome.desktop.wm.preferences titlebar-uses-system-font {{ titlebar_uses_system_font | lower }}

- name: Set desktop background options
  shell: "gsettings set org.gnome.desktop.background {{ item }}"
  with_items: "{{ desktop_background }}"

- name: Set desktop interface options
  shell: "gsettings set org.gnome.desktop.interface {{ item }}"
  with_items: "{{ desktop_interface }}"

- name: Set dash-to-dock settings
  shell: "gsettings set org.gnome.shell.extensions.dash-to-dock {{ item.key }} {{ item.value }}"
  with_items: "{{ dock }}"

- name: Disable services
  become: yes
  systemd:
    name: "{{ item }}"
    enabled: no
    masked: yes
    state: stopped
  loop: "{{ disabled_services }}"
