---
- name: Hide trash icon
  command: gsettings set org.gnome.shell.extensions.ding show-trash {{ show_trash | lower }}
  changed_when: true

- name: Hide home icon
  command: gsettings set org.gnome.shell.extensions.ding show-home {{ show_home | lower }}
  changed_when: true

- name: Set titlebar font
  command: gsettings set org.gnome.desktop.wm.preferences titlebar-uses-system-font {{ titlebar_uses_system_font | lower }}
  changed_when: true

- name: Set screensaver idle activation
  command: gsettings set org.gnome.desktop.screensaver idle-activation-enabled {{ screensaver_idle_activation_enabled | lower }}
  changed_when: true

- name: Set lock screen
  command: gsettings set org.gnome.desktop.screensaver lock-enabled {{ lock_screen_enabled | lower }}
  changed_when: true

- name: Set lock screen (lockdown)
  command: gsettings set org.gnome.desktop.lockdown disable-lock-screen {{ lock_screen_disable_lock_screen | lower }}
  changed_when: true

- name: Set desktop background options
  command: "gsettings set org.gnome.desktop.background {{ item }}"
  changed_when: true
  with_items: "{{ desktop_background }}"

- name: Set desktop interface options
  command: "gsettings set org.gnome.desktop.interface {{ item }}"
  changed_when: true
  with_items: "{{ desktop_interface }}"

- name: Set dash-to-dock settings
  shell: "gsettings set org.gnome.shell.extensions.dash-to-dock {{ item }}"
  changed_when: true
  with_items: "{{ dock }}"

- name: Disable services
  systemd:
    name: "{{ item }}"
    enabled: false
    masked: true
    state: stopped
  loop: "{{ disabled_services }}"

- name: Include Tilix handling task
  include_tasks: tilix.yml
