---
- name: Load profile if the file exists and tilix_profile_filename is set
  shell: dconf load /com/gexperts/Tilix/ < {{ gnome_settings_tilix_profile_filename }}
  register: dconf_load_result
  changed_when: "'Loading values from' in dconf_load_result.stdout"

- name: Include autostart creation tasks if profile is loaded successfully
  include_tasks: create_autostart.yml
  vars:
    autostart_app_type: Application
    autostart_app_name: Tilix
    autostart_app_settings:
      Exec: tilix
      Comment: Tilix terminal emulator
      X-GNOME-Autostart-enabled: true
      X-GNOME-Autostart-Delay: 1
  when: dconf_load_result is changed
