---
- name: Load profile if the file exists and tilix_profile_filename is set
  shell: dconf load /com/gexperts/Tilix/ < {{ gnome_settings_tilix_profile_filename }}
  register: dconf_load_result
  changed_when: "'Loading values from' in dconf_load_result.stdout"

- name: Include autostart creation tasks if profile is loaded successfully
  include_tasks: create_autostart.yml
  vars:
    autostart_app_type: Application
    autostart_app_name: Tilix
    autostart_app_settings:
      Exec: tilix
      Comment: Tilix terminal emulator
      X-GNOME-Autostart-enabled: true
      X-GNOME-Autostart-Delay: 1
  when: dconf_load_result is changed

# - name: Get current list of favorite apps
#  command: gsettings get org.gnome.shell favorite-apps
#  register: current_favorites
#
# - name: Add Tilix to favorites if not already added
#  command: gsettings set org.gnome.shell favorite-apps "{{ current_favorites.stdout | from_json | union(['com.gexperts.Tilix.desktop']) | to_json }}"
#  when: "com.gexperts.Tilix.desktop" not in current_favorites.stdout
