---
- name: Install Hashicorp Packages
  become: true
  apt:
    name: "{{ hashicorp_packages }}"
    state: present
    update_cache: true

- name: Include install_tflint task file
  include_tasks: install_tflint.yml
