---
- name: Check if version tracking fact is initialized
  fail:
    msg: "Version tracking fact has not been initialized."
  when: version_tracking is not defined or version_tracking == {}

- name: Set current version
  set_fact:
    git_bug_current_version: "{{ version_tracking['git_bug'] | default('0') }}"

#- name: Dump version information using the asset name variable
#  debug:
#    msg: "Current version of tflint: {{ git_bug_current_version }}"

- name: Include github_release role to get the latest release
  include_role:
    name: github_release
  vars:
    github_release_repo: "MichaelMure/git-bug"
    github_release_asset_pattern: "git-bug_linux_amd64"
    github_release_dest_path: "/usr/local/bin/git-bug"
    github_release_file_mode: "0755"
    github_release_version_mismatch: "{{ git_bug_current_version != git_bug_latest_version }}"

