---
- name: Make sure the github version file exists for git_bug
  file:
    path: "{{ git_bug_version_tracking_file }}"
    state: touch
    mode: '0600'

- name: Slurp the github version tracking file for git_bug
  slurp:
    src: "{{ git_bug_version_tracking_file }}"
  register: git_bug_version_tracking_file_content

- name: Convert github version tracking file content to YAML and register it for git_bug
  set_fact:
    git_bug_version_tracking_yaml: "{{ (git_bug_version_tracking_file_content['content'] | b64decode) | from_yaml }}"

- name: Set current version for git_bug
  set_fact:
    git_bug_current_version: "{{ git_bug_version_tracking_yaml['git_bug'] | default('0') }}"

- name: Include github_release role to get the latest release
  include_role:
    name: github_release
  vars:
    github_release_repo: "{{ git_bug_repo }}"
    github_release_asset_pattern: git-bug_linux_amd64
    github_release_dest_path: "{{ git_bug_binary_path }}"
    github_release_file_mode: "0755"
    github_release_version_mismatch: "{{ git_bug_current_version != git_bug_latest_version }}"

- name: Update git_bug version in version tracking
  lineinfile:
    path: "{{ git_bug_version_tracking_file }}"
    regexp: '^git_bug:.*$'
    line: "git_bug: \"{{ github_release_latest_version }}\""
    create: yes
    backup: yes
  when: github_release_version_mismatch and github_release_download_result is changed
