# coverage?
coverage

#.aider.*
.aider*
.env
!.aider.conf.yml

*.swp
*~

venv
gitconfig.user*

node_modules/**
cygdrive/**

package-lock.json
package.json
nvm_nodejs_org_mirror

# Ignore VSCode syncsettings UI state
.vscode/syncsettings/profiles/default/data/ui-state.yml
