[submodule ".tmux/tpm"]
	path = .tmux/tpm
	url = https://github.com/tmux-plugins/tpm
	ignore = dirty
[submodule ".tmux/prefix-highlight"]
	path = .tmux/prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
	ignore = dirty
