[user]
  name = Harley Pig
  email = harleypig@gmail.com

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  autocrlf = input
  safecrlf = true
  pager = less -FIJRWX

[branch]
  autosetupmerge = true

[merge]
  tool = vimdiff
  guitool = kdiff3

[alias]
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
  au = add -u
  b  = branch
  ba = branch -a
  ci = commit
  co = checkout
  df = diff
  lp = log --pretty=format:'%h : (%aN) %s' --topo-order --graph
  pu = pull
  st = status
  w = whatchanged
  graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"

  # http://www.jukie.net/bart/blog/pimping-out-git-log
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[diff]
  tool = vimdiff
  guitool = kdiff3

[apply]
  whitespace = fix

[color]
  diff   = auto
  status = auto
  branch = auto

[color "branch"]
  current = green reverse
  local   = cyan
  remote  = blue

[color "status"]
  added     = green
  changed   = red
  untracked = yellow

[push]
  default = current

[branch "master"]
  remote = origin
  merge = refs/heads/master
  rebase = true

[github]
	user = harleypig
	token = f39a5663758cba5c397493afab5f2ba8b402d43a
