# http://www.reddit.com/r/commandline/comments/kbeoe/you_can_make_readline_and_bash_much_more_user/
# https://wiki.archlinux.org/index.php/Readline

$include /etc/inputrc

set bell-style visual
set completion-ignore-case on
set completion-map-case on
set completion-prefix-display-length 2
set editing-mode vi
set input-meta on
set mark-directories on
set mark-symlinked-directories on
set output-meta on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set show-mode-in-prompt on
set skip-completed-text
set visible-stats on

# Adds [INS] or [CMD] to prompt
set vi-ins-mode-string \1[INS] \e[6 q\2
set vi-cmd-mode-string \1[CMD] \e[2 q\2

"\e[A":history-search-backward
"\e[B":history-search-forward
"\e\C-l":"\C-e | less\C-m"
