---
- name: Download file
  get_url:
    url: "{{ github_release_download_url }}"
  register: github_download_result

- name: Update the version tracking file with the latest version
  copy:
    content: "{{ github_release_version_tracking_yaml | to_nice_yaml }}"
    dest: "{{ github_release_version_tracking_file }}"
  when: github_download_result is changed
