---
- name: Get the latest release from GitHub for the specified repository
  uri:
    url: https://api.github.com/repos/{{ github_release_repo }}/releases/latest
    method: GET
    return_content: true
    status_code: 200
    headers:
      Accept: application/vnd.github.v3+json
  register: github_release

- name: Set latest version
  set_fact:
    github_release_latest_version: "{{ github_release.json.tag_name }}"
    github_release_download_url: "{{ github_release.json.assets | selectattr('name', 'match', github_release_asset_pattern) | map(attribute='browser_download_url') | first }}"

#- name: Dump latest release information
#  debug:
#    msg: |
#      Latest version: {{ github_latest_version }}
#      URL: {{ github_download_url }}

- name: Compare current version against latest version
  set_fact:
    github_release_version_mismatch: "{{ github_release_current_version != github_release_latest_version }}"

- name: Dump mismatch information
  debug:
    msg: |
      Mismatch: {{ github_release_version_mismatch }}

- name: Download file
  get_url:
    url: "{{ github_release_download_url }}"
    dest: "{{ github_release_tempfile.path }}"
    mode: '0644'
  register: github_release_download_result
  when: github_release_version_mismatch
