---
- name: Make sure the github version file exists
  stat:
    path: "{{ github_version_tracking_file }}"
  when: not github_version_tracking_file_stat.stat.exists

  vars:
    github_version_tracking_yaml: "{{ lookup('file', github_version_tracking_file) | from_yaml | default({}) }}"
    github_current_asset_version: "{{ github_version_tracking_yaml[github_asset_name] | default('0') }}"

- name: Touch the github version file and set permissions
  file:
    path: "{{ github_version_tracking_file }}"
    state: touch
    mode: "{{ github_version_tracking_file_mode }}"
  register: github_version_tracking_file

  vars:
    github_version_tracking_yaml: "{{ lookup('file', github_version_tracking_file) | from_yaml | default({}) }}"
    github_current_asset_version: "{{ github_version_tracking_yaml[github_asset_name] | default('0') }}"

- name: Dump
  debug:
    msg: |
      yaml: {{ github_version_tracking_yaml }}

#- name: Get the latest release of {{ github_repo }} from GitHub
#  uri:
#    url: "https://api.github.com/repos/{{ github_repo }}/releases/latest"
#    method: GET
#    return_content: yes
#    status_code: 200
#    headers:
#      Accept: "application/vnd.github.v3+json"
#  register: github_release
#
#- name: Get latest version
#  vars:
#    github_version_tracking_yaml: "{{ lookup('file', github_version_tracking_file) | from_yaml | default({}) }}"
#    github_current_asset_version: "{{ github_version_tracking_yaml[github_asset_name] | default('0') }}"
#    github_latest_version: "{{ github_release.json.tag_name }}"
#
#  # Other tasks here...
#
#- name: Dump version information
#  debug:
#      msg: |
#        Current asset version: {{ github_current_asset_version }}
#        Latest version: {{ github_latest_version }}

#    github_download_url: "{{ github_release.json.assets | selectattr('name', 'match', github_asset_pattern) | map(attribute='browser_download_url') | first }}"
#    github_asset_pattern: "{{ github_asset_pattern | regex_replace('.*?(\\w+\\.[\\w.]+)$', '\\1') }}"
#    github_version_mismatch: "{{ github_latest_version != current_asset_version.stdout | default('0.0.0') }}"
#
#- name: Fail if nothing found
#  fail:
#    msg: "No matching asset found for pattern {{ github_asset_pattern }}"
#  when: github_release.json.assets | selectattr('name', 'match', github_asset_pattern) | list | count == 0
#
#- include_tasks: download_file.yml
#  vars:
#    github_asset_name: "{{ github_asset_name_pattern }}"
#    github_version_tracking_file: "{{ playbook_dir }}/.github_release_installed_versions"
#    github_version_mismatch: "{{ github_version_mismatch }}"
#    github_download_url: "{{ github_download_url }}"
#    github_dest_path: "{{ github_dest_path }}"
#    github_file_mode: "{{ github_file_mode | default('0644') }}"
#    github_latest_version: "{{ github_latest_version }}"
