Acroread.background:	#fafaff
AcroRead.borderColor:	#000000
Acroread.foreground:	#000000
AcroRead.XmScreen.background:	#fafaff
AcroRead.XmScreen.borderColor:	#000000

*background:	#d2d7d7
*beNiceToColormap:	false
*borderColor:	black

*Box.background:	#d2d7d7
*Box.foreground:	#000000

*Button.activeBackground:	#d2d7d7
*Button.activeForeground:	#000000
*Button.background:	#d2d7d7
*Button.foreground:	#000000
*Button.highlightBackground:	#d2d7d7
*Button.highlightColor:	#000000

*Canvas.activeBackground:	#fafaff
*Canvas.activeForeground:	#000000
*Canvas.background:	#fafaff
*Canvas.foreground:	#000000
*Canvas.highlightBackground:	#fafaff
*Canvas.highlightColor:	#000000
*Canvas.selectbackground:	#91b1d9
*Canvas.selectforeground:	#000000

*Checkbutton.activeBackground:	#d2d7d7
*Checkbutton.activeForeground:	#000000
*Checkbutton.background:	#d2d7d7
*Checkbutton.foreground:	#000000
*Checkbutton.highlightBackground:	#d2d7d7
*Checkbutton.highlightColor:	#000000

*Command.background:	#d2d7d7
*Command.foreground:	#000000

Config*channel.background:	#d2d7d7
Config*key.background:	#d2d7d7
Config*list.background:	#d2d7d7
Config*Text*background:	#d2d7d7

*customization:	-color

*Dialog.background:	#d2d7d7
*Dialog.foreground:	#000000

editres*Panner.Background:	#d2d7d7
editres*Tree.Background:	#fafaff
editres*Tree.Foreground:	#000000
editres*Tree.Toggle.Background:	#d2d7d7
editres*Tree.Toggle.Foreground:	#000000

Emacs*Background:	#fafaff
Emacs*backgroundToolBarColor:	#d2d7d7
Emacs*bottomToolBarShadowColor:	#d2d7d7
Emacs.default.attributeBackground:	#fafaff
Emacs.default.attributeForeground:	#000000
Emacs*Dialog*background:	#d2d7d7
Emacs*Dialog*foreground:	#000000
Emacs*Foreground:	#000000
Emacs*menubar*background:	#d2d7d7
Emacs*menubar*foreground:	#000000
Emacs*popup*Background:	#d2d7d7
Emacs*popup*Foreground:	#000000
Emacs*toolBarShadowThickness:	0
Emacs*topToolBarShadowColor:	#d2d7d7
Emacs*XlwScrollBar.Background:	#d2d7d7
Emacs*XlwScrollBar.Foreground:	#000000

*Entry.activeBackground:	#fafaff
*Entry.activeForeground:	#000000
*Entry.background:	#fafaff
*Entry.foreground:	#000000
*Entry.highlightBackground:	#fafaff
*Entry.highlightColor:	#000000
*Entry.selectBackground:	#91b1d9
*Entry.selectForeground:	#000000

*foreground:	#000000

*Form.background:	#d2d7d7
*Form.foreground:	#000000

*Frame.activeBackground:	#d2d7d7
*Frame.activeForeground:	#000000
*Frame.background:	#d2d7d7
*Frame.foreground:	#000000
*Frame.highlightBackground:	#d2d7d7
*Frame.highlightColor:	#000000

*Label.activeBackground:	#d2d7d7
*Label.activeForeground:	#000000
*Label.background:	#d2d7d7
*Label.foreground:	#000000
*Label.highlightBackground:	#d2d7d7
*Label.highlightColor:	#000000

*List.background:	#fafaff
*List.foreground:	#000000

*Listbox.activeBackground:	#fafaff
*Listbox.activeForeground:	#000000
*Listbox.background:	#fafaff
*Listbox.foreground:	#000000
*Listbox.highlightBackground:	#fafaff
*Listbox.highlightColor:	#000000
*Listbox.selectBackground:	#91b1d9
*Listbox.selectForeground:	#000000

*Menu.activeBackground:	#d2d7d7
*Menu.activeForeground:	#000000
*Menu.background:	#d2d7d7

*Menubutton.activeBackground:	#d2d7d7
*Menubutton.activeForeground:	#000000
*Menubutton.background:	#d2d7d7
*MenuButton.background:	#d2d7d7
*Menubutton.foreground:	#000000
*MenuButton.foreground:	#000000
*Menubutton.highlightBackground:	#d2d7d7
*Menubutton.highlightColor:	#000000

*Menu.foreground:	#000000
*Menu.highlightBackground:	#d2d7d7
*Menu.highlightColor:	#000000

*metaSendsEscape:	true

ml*background:	#d2d7d7
ml*borderWidth:	0
ml*focusPolicy:	pointer
ml*foreground:	#000000
ml.form.height:	550
ml.form.width:	650
ml*helpwin*textSW.text.background:	#fafaff
ml*helpwin*textSW.text.foreground:	#000000
ml*highlightColor:	#d2d7d7
ml*log*textSW.text.background:	#fafaff
ml*log*textSW.text.foreground:	#000000
ml*marginHeight:	2
ml*marginWidth:	3
ml*selectColor:	#d2d7d7
ml*textSW.text.background:	#fafaff
ml*textSW.text.foreground:	#000000
ml*XmCascadeButton.marginHeight:	2
ml*XmCascadeButton.marginWidth:	8
ml*XmForm*bottomOffset:	0
ml*XmForm*topOffset:	0
ml*XmForm*verticalSpacing:	0
ml*XmList*background:	#fafaff
ml*XmList*foreground:	#000000
ml*XmList*highlightThickness:	0
ml*XmPushButton.marginHeight:	1
ml*XmRowColumn.entryBorder:	0
ml*XmRowColumn*marginHeight:	1
ml*XmRowColumn*spacing:	0
ml*XmText*background:	#fafaff
ml*XmTextField*background:	#fafaff
ml*XmTextField*foreground:	#000000
ml*XmText*foreground:	#000000
ml*XmToggleButton.marginHeight:	1

nedit*background:	#d2d7d7
nedit*foreground:	#000000

Netscape*background:	#d2d7d7
Netscape*bottomShadowColor:	#575959
Netscape*defaultBackground:	#fafaff
Netscape*foreground:	#000000
Netscape*highlightColor:	#d2d7d7
Netscape*power.LED.background:	#d2d7d7
Netscape*power.LED.foreground:	#91b1d9
Netscape*selectBackground:	#91b1d9
Netscape*selectColor:	#d2d7d7
Netscape*selectForeground:	#000000
Netscape*thermo.slider.background:	#d2d7d7
Netscape*thermo.slider.foreground:	#91b1d9
Netscape*topShadowColor:	#ffffff
Netscape*urlLabel*background:	#fafaff
Netscape*urlLabel*foreground:	#000000
Netscape*urlText*background:	#fafaff
Netscape*urlText*foreground:	#000000
Netscape*XmLGrid.background:	#d2d7d7
Netscape*XmLGrid.foreground:	#000000
Netscape*XmList*background:	#fafaff
Netscape*XmList*foreground:	#000000
Netscape*XmText*background:	#fafaff
Netscape*XmTextField*background:	#fafaff
Netscape*XmTextField*foreground:	#000000
Netscape*XmText*foreground:	#000000

*Radiobutton.activeBackground:	#d2d7d7
*Radiobutton.activeForeground:	#000000
*Radiobutton.background:	#d2d7d7
*Radiobutton.foreground:	#000000
*Radiobutton.highlightBackground:	#d2d7d7
*Radiobutton.highlightColor:	#000000

*rvplayer*authortext.background:	#d2d7d7
*rvplayer*authortext.bottomShadowPixel:	#ffffff
*rvplayer*authortext.topShadowPixel:	#575959
*rvplayer*background:	#d2d7d7
*rvplayer*Command.background:	#d2d7d7
*rvplayer*Command.BorderColor:	#000000
*rvplayer*Command.foreground:	#000000
*rvplayer*copyrighttext.background:	#d2d7d7
*rvplayer*copyrighttext.bottomShadowPixel:	#ffffff
*rvplayer*copyrighttext.topShadowPixel:	#575959
*rvplayer*Label.BorderColor:	#000000
*rvplayer*MenuButton.background:	#d2d7d7
*rvplayer*MenuButton.BorderColor:	#000000
*rvplayer*proptext.background:	#d2d7d7
*rvplayer*proptext.foreground:	#000000
*rvplayer*SepLine.BorderColor:	#d2d7d7
*rvplayer*SepLine.bottomShadowPixel:	#ffffff
*rvplayer*SepLine.topShadowPixel:	#575959
*rvplayer*SimpleMenu.background:	#d2d7d7
*rvplayer*SimpleMenu.BorderColor:	#575959
*rvplayer*SimpleMenu.foreground:	#000000
*rvplayer*SmeBSB*fgInsensitive:	#ffffff
*rvplayer*statusback.background:	#d2d7d7
*rvplayer*statusback.foreground:	#000000
*rvplayer*statustext.background:	#d2d7d7
*rvplayer*statustext.foreground:	#000000
*rvplayer*timeinfotext.background:	#d2d7d7
*rvplayer*timeinfotext.bottomShadowPixel:	#ffffff
*rvplayer*timeinfotext.foreground:	#000000
*rvplayer*timeinfotext.topShadowPixel:	#575959
*rvplayer*timeslider.bottomShadowPixel:	#ffffff
*rvplayer*timeslider.foreground:	#d2d7d7
*rvplayer*timeslider.thumbPixel:	#ffffff
*rvplayer*timeslider.topShadowPixel:	#575959
*rvplayer*titletext.background:	#d2d7d7
*rvplayer*titletext.bottomShadowPixel:	#ffffff
*rvplayer*titletext.topShadowPixel:	#575959
*rvplayer*volumeslider.bottomShadowPixel:	#ffffff
*rvplayer*volumeslider.topShadowPixel:	#575959
*rvplayer*Vslider.thumbPixel:	#ffffff

*Scale.activeBackground:	#d2d7d7
*Scale.activeForeground:	#000000
*Scale.background:	#d2d7d7
*Scale.foreground:	#000000
*Scale.highlightBackground:	#d2d7d7
*Scale.highlightColor:	#000000
*Scale.troughColor:	#d2d7d7

*Scrollbar.activeBackground:	#d2d7d7
*Scrollbar.activeForeground:	#000000
*Scrollbar*background:	#d2d7d7
*ScrollbarBackground:	#d2d7d7
*Scrollbar*Cursor:	left_ptr
*Scrollbar*cursorName:	left_ptr
*Scrollbar.foreground:	#000000
*Scrollbar*height:	15
*Scrollbar.highlightBackground:	#d2d7d7
*Scrollbar.highlightColor:	#000000
*Scrollbar*pushThumb:	false
*Scrollbar*shadowWidth:	2
*Scrollbar.troughColor:	#d2d7d7
*Scrollbar*width:	15

*ShapeStyle:	Rectangle

*SimpleMenu*background:	#d2d7d7
*SimpleMenu*foreground:	#000000

*SmeBSB*shadowWidth:	3

Streamer*Text*background:	#d2d7d7

*Text.activeBackground:	#fafaff
*Text.activeForeground:	#000000
*Text.background:	#fafaff
*Text.foreground:	#000000
*Text.highlightBackground:	#fafaff
*Text.highlightColor:	#000000
*Text.selectBackground:	#91b1d9
*Text.selectForeground:	#000000

*Toggle.background:	#d2d7d7
*Toggle.foreground:	#000000

*Toplevel.activeBackground:	#d2d7d7
*Toplevel.activeForeground:	#000000
*Toplevel.background:	#d2d7d7
*Toplevel.foreground:	#000000
*Toplevel.highlightBackground:	#d2d7d7
*Toplevel.highlightColor:	#000000

TopLevelShell*background:	#d2d7d7
TopLevelShell*foreground:	#000000

WPFMShell*background:	#d2d7d7
WPFMShell*foreground:	#000000
WPFMShell*menubar*background:	#d2d7d7
WPFMShell*MenuBar*background:	#d2d7d7
WPFMShell*menubar*foreground:	#000000
WPFMShell*MenuBar*foreground:	#000000
WPFMShell*XmDialogShell*background:	#fafaff
WPFMShell*XmDialogShell*foreground:	#000000
WPFMShell*XmDialogShell*XmDrawingArea*background:	#fafaff
WPFMShell*XmDialogShell*XmDrawingArea*foreground:	#000000
WPFMShell*XmDialogShell*XmList*background:	#fafaff
WPFMShell*XmDialogShell*XmList*foreground:	#000000
WPFMShell*XmDialogShell*XmScrolledWindow*XmDrawingArea.background:	#fafaff
WPFMShell*XmDialogShell*XmScrolledWindow*XmDrawingArea.foreground:	#000000
WPFMShell*XmDialogShell*XmText*background:	#fafaff
WPFMShell*XmDialogShell*XmTextField*background:	#fafaff
WPFMShell*XmDialogShell*XmTextField*foreground:	#000000
WPFMShell*XmDialogShell*XmText*foreground:	#000000
WPFMShell*XmDrawingArea*background:	#fafaff
WPFMShell*XmDrawingArea*foreground:	#000000
WPFMShell*XmList*background:	#fafaff
WPFMShell*XmList*foreground:	#000000
WPFMShell*XmScrolledWindow*XmDrawingArea.background:	#d2d7d7
WPFMShell*XmScrolledWindow*XmDrawingArea.foreground:	#000000
WPFMShell*XmText*background:	#fafaff
WPFMShell*XmTextField*background:	#fafaff
WPFMShell*XmTextField*foreground:	#000000
WPFMShell*XmText*foreground:	#000000

Xawtv*background:	#d2d7d7
Xawtv*Dialog.value.background:	#d2d7d7
Xawtv*foreground:	#000000

xcalc*background:	#d2d7d7
xcalc*bevel.screen.LCD.background:	#fafaff
xcalc*bevel.screen.LCD.foreground:	#000000
xcalc*foreground:	#000000

Xcursor.theme:

xdvi.background:	white

Xft.antialias:	1
Xft.hinting:	1
Xft.hintstyle:	hintfull
Xft.rgba:	none

*XmCascadeButton.background:	#d2d7d7
*XmCascadeButton.foreground:	#000000
*XmCascadeButtonGadget.background:	#d2d7d7
*XmCascadeButtonGadget.foreground:	#000000

*XmDialogShell.background:	#d2d7d7
*XmDialogShell.foreground:	#000000

*XmFileSelectionBox.background:	#d2d7d7
*XmFileSelectionBox.foreground:	#000000

*XmForm.background:	#d2d7d7
*XmForm.foreground:	#000000

*XmFrame.background:	#d2d7d7
*XmFrame.foreground:	#000000

*XmLabel.background:	#d2d7d7
*XmLabel.foreground:	#000000
*XmLabelGadget.background:	#d2d7d7
*XmLabelGadget.foreground:	#000000

*XmList.background:	#fafaff
*XmList.foreground:	#000000

*XmMenuShell.background:	#d2d7d7
*XmMenuShell.foreground:	#000000

*XmMessageBox.background:	#d2d7d7
*XmMessageBox.foreground:	#000000

*XmPanedWindow.background:	#d2d7d7
*XmPanedWindow.foreground:	#000000

*XmPushButton.background:	#d2d7d7
*XmPushButton.foreground:	#000000
*XmPushButtonGadget.background:	#d2d7d7
*XmPushButtonGadget.foreground:	#000000

*XmRowColumn.background:	#d2d7d7
*XmRowColumn.foreground:	#000000

*XmSash.background:	#d2d7d7
*XmSash.foreground:	#000000

*XmScrollBar.background:	#d2d7d7
*XmScrollBar.foreground:	#000000

*XmScrolledWindow.background:	#d2d7d7
*XmScrolledWindow.foreground:	#000000

*XmSelectionBox.background:	#d2d7d7
*XmSelectionBox.foreground:	#000000

*XmSeparator.background:	#d2d7d7
*XmSeparator.foreground:	#000000

*XmSeparatorGadget.background:	#d2d7d7
*XmSeparatorGadget.foreground:	#000000

*XmTearOffButton.background:	#d2d7d7
*XmTearOffButton.foreground:	#000000
*XmTearOffButtonGadget.background:	#d2d7d7
*XmTearOffButtonGadget.foreground:	#000000
*XmText.background:	#fafaff
*XmTextField.background:	#fafaff
*XmTextField.foreground:	#000000
*XmText.foreground:	#000000
*XmToggleButton.background:	#d2d7d7
*XmToggleButton.foreground:	#000000
*XmToggleButtonGadget.background:	#d2d7d7
*XmToggleButtonGadget.foreground:	#000000

xosview*background:	#d2d7d7
xosview*foreground:	#000000
xosview*meterLabelColor:	#000000
xosview*usedLabelColor:	#000000

xpdf.background:	#d2d7d7
xpdf.foreground:	#000000
xpdf.urlCommand:	kfmclient exec %s

XTerm*background:	black
XTerm*foreground:	white
XTerm*Opacity:	0.80
xterm.SimpleMenu*background:	#d2d7d7
xterm.SimpleMenu*foreground:	#000000
XTerm*termName:	xterm-256color

XWp*background:	#d2d7d7
XWp*foreground:	#000000
XWp.form.controlbar.menubar.CBHlpButton*background:	#d2d7d7
XWp.form.hscrollbar.background:	#d2d7d7
XWp.form.rulerframe.ruler*background:	#d2d7d7
XWp.form.scrollbar0.background:	#d2d7d7
XWp.mainWindowForm.mainWindowMenubar*background:	#d2d7d7
XWp.mainWindowForm.mainWindowMenubar*foreground:	#000000
XWp*menubar*background:	#d2d7d7
XWp*MenuBar*background:	#d2d7d7
XWp*menubar*foreground:	#000000
XWp*MenuBar*foreground:	#000000
XWp*popmenu*background:	#d2d7d7
XWp*popmenu*foreground:	#000000
XWp*XmDialogShell*background:	#d2d7d7
XWp*XmDialogShell*foreground:	#000000
XWp*XmDialogShell*XmDrawingArea.background:	#fafaff
XWp*XmDialogShell*XmDrawingArea.foreground:	#000000
XWp*XmDialogShell*XmList*background:	#fafaff
XWp*XmDialogShell*XmList*foreground:	#000000
XWp*XmDialogShell*XmScrolledWindow*XmDrawingArea.background:	#fafaff
XWp*XmDialogShell*XmScrolledWindow*XmDrawingArea.foreground:	#000000
XWp*XmDialogShell*XmText*background:	#fafaff
XWp*XmDialogShell*XmTextField*background:	#fafaff
XWp*XmDialogShell*XmTextField*foreground:	#000000
XWp*XmDialogShell*XmText*foreground:	#000000
XWp*XmDrawingArea.background:	#fafaff
XWp*XmDrawingArea.foreground:	#000000
XWp*XmList*background:	#fafaff
XWp*XmList*foreground:	#000000
XWp*XmScrolledWindow*XmDrawingArea.background:	#d2d7d7
XWp*XmScrolledWindow*XmDrawingArea.foreground:	#000000
XWp*XmText*background:	#fafaff
XWp*XmTextField*background:	#FFFFFFFFFFFF
XWp*XmTextField*foreground:	#000000
XWp*XmText*foreground:	#000000
