Bitwarden\ CLI/**
coc/**
Code/**
dlv/**
docker/buildx/**
evolution/**
gtk-3.0/**
ibus/**
pulse/**
tree-sitter/**
yelp/**

dconf/user
docker/.token_seed
docker/.token_seed.lock
.gsd-keyboard.settings-ported
mimeapps.list
packer/checkpoint_cache
packer/checkpoint_signature
pgcli/history
pgcli/log
user-dirs.locale
