#-----------------------------------------------------------------------------
@test 'ssh password required ^P_USER^@^P_HOST^' {
  shopt -s nocasematch

  [[ $PRJ_ENVIRONMENT != '^P_ENV^' ]] \
    && skip "not in correct environment for this test"

  run test_nopass '^P_USER^' '^P_HOST^'

  assert_failure
  assert_output 'host requested password'
}
