---
# This playbook uses the add_repo role to install the Google Cloud repository
- name: Include add_repo to install Google Cloud repository
  include_role:
    name: add_repo
  vars:
    repo_list:
      - google-cloud

- name: Define Google Cloud SDK packages
  set_fact:
    gcloud_packages:
      - google-cloud-cli

- name: Install Google Cloud SDK packages using install_pkgs role
  include_role:
    name: install_pkgs
    apply:
      vars:
        package_groups: "{{ gcloud_packages }}"
