[Desktop Entry]
Name={{ autostart_app_name }}
Type=Application
{% if autostart_app_exec is defined and autostart_app_exec %}
Exec={{ autostart_app_exec }}
{% endif %}
{% if autostart_app_path is defined and autostart_app_path %}
Path={{ autostart_app_path }}
{% endif %}
Hidden={{ autostart_app_hidden }}
{% if autostart_app_comment is defined and autostart_app_comment %}
Comment={{ autostart_app_comment }}
{% endif %}
Terminal={{ autostart_app_terminal }}
X-GNOME-Autostart-enabled=true
