---
- name: Install Font Packages
  become: true
  apt:
    name: "{{ font_packages }}"
    state: present
    update_cache: true

- name: Get the latest release version of Nerd Font
  uri:
    url: "{{ nerd_font_version_url }}"
    method: GET
    return_content: true
    status_code: 200
    headers:
      Accept: application/vnd.github.v3+json
  register: nerd_font_latest_release
  changed_when: false

- name: Fail if GitHub API rate limit is exceeded
  fail:
    msg: GitHub API rate limit exceeded. Please try again later.
  when: nerd_font_latest_release.status == 403

- name: Set Nerd Font version
  set_fact:
    nerd_font_version: "{{ nerd_font_latest_release.json.tag_name }}"

- name: Set Nerd Font filename
  set_fact:
    nerd_font_filename: "{{ nerd_font_name }}-{{ nerd_font_version }}.{{ nerd_font_archive }}"
    nerd_font_url: "{{ nerd_font_file_url }}/{{ nerd_font_version }}/{{ nerd_font_name }}.{{ nerd_font_archive }}"

- name: Set Nerd Font download URL
  set_fact:
    nerd_font_path: "{{ nerd_font_dir }}/{{ nerd_font_filename }}"

- name: Check if Nerd Font already installed
  stat:
    path: "{{ nerd_font_path }}"
  register: file_check
  changed_when: false

# XXX: Figure out a way to get the installed font version
#- name: Get installed Nerd Font version
#  shell: "fc-list | grep -i '{{ nerd_font_name }}' | head -n 1 | awk -F': ' '{print $2}' | tr -d '()' "
#  register: installed_nerd_font_version
#  failed_when: false
#  changed_when: false
#  check_mode: no

# XXX: Figure out a way to skip remaining tasks in this role, but still allow
# following roles in the play to be attempted.
#- name: Skip remaining tasks in this role if nerd_font_path exists
#  meta: end_play
#  when: file_check.stat.exists

- name: Ensure Nerd Fonts directory exists
  file:
    path: "{{ nerd_font_dir }}"
    state: directory

- name: Download Nerd Font
  get_url:
    url: "{{ nerd_font_url }}"
    dest: "{{ nerd_font_path }}"
    mode: "0644"

- name: Unarchive Nerd Font
  unarchive:
    src: "{{ nerd_font_path }}"
    dest: "{{ nerd_font_dir }}"
    # man unzip: -o overwrite ::: -f freshen
    extra_opts: -of

- name: Update font cache
  command: fc-cache -fv
