---
- name: Get the latest release version of Nerd Font
  uri:
    url: "{{ nerd_font_version_url }}"
    method: GET
    return_content: yes
    status_code: 200
    headers:
      Accept: "application/vnd.github.v3+json"
  register: nerd_font_latest_release
  changed_when: false

- name: Set Nerd Font download URL and version
  set_fact:
    nerd_font_version: "{{ nerd_font_latest_release.json.tag_name }}"
    nerd_font_url: "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ nerd_font_version }}/{{ nerd_font_name }}.zip"

- name: Check if Nerd Font already installed
  stat:
    path: "{{ nerd_font_local_filename }}"
  register: file_check
  changed_when: false



- name: Get installed Nerd Font version
  shell: "fc-list | grep -i '{{ nerd_font_name }}' | head -n 1 | awk -F': ' '{print $2}' | tr -d '()' "
  register: installed_nerd_font_version
  failed_when: false
  changed_when: false
  check_mode: no

- name: Set fact for installed Nerd Font version
  set_fact:
    installed_nerd_font_version: "{{ installed_nerd_font_version.stdout | default('0.0.0') }}"
  when: installed_nerd_font_version.rc == 0

- name: Compare installed and latest Nerd Font versions
  set_fact:
    nerd_font_version_mismatch: "{{ installed_nerd_font_version != nerd_font_version }}"

- name: Skip download if the installed version matches the latest version
  meta: end_play
  when: not nerd_font_version_mismatch

- name: Ensure Nerd Fonts directory exists
  file:
    path: "{{ nerd_font_local_dir }}"
    state: directory
  when: nerd_font_version_mismatch

- name: Download Nerd Font if version mismatch
  get_url:
    url: "{{ nerd_font_url }}"
    dest: "{{ nerd_font_local_filename }}"
    mode: '0644'
  when: nerd_font_version_mismatch

- name: Unarchive Nerd Font if version mismatch
  unarchive:
    src: "{{ nerd_font_url }}"
    dest: "{{ nerd_font_local_dir }}"
    remote_src: yes
  when: nerd_font_version_mismatch

- name: Update font cache
  command: fc-cache -fv
  when: nerd_font_version_mismatch
