# Lookit:
#   http://flexget.com/wiki/Cookbook/UserAtlanta800
#   http://flexget.com/wiki/Cookbook/Userhyper_ch
#   http://flexget.com/wiki/Cookbook/Userfoulou
#   https://github.com/gray/dotfiles/blob/master/.flexget/config.yml

presets:
  global:
    download: /home/harleypig/torrents/torrent
  premieres:
    thetvdb_lookup: yes
    require_field: series_genres
    regexp:
      reject:
        - documentary: {from: series_genres}
        - talk show: {from: series_genres}
        - game show: {from: series_genres}
        - reality: {from: series_genres}
        - children: {from: series_genres}
        - home and garden: {from: series_genres}
    series_premiere: yes
  IMDB:
    imdb:
      min_score: 3.1
      min_votes: 1000
      reject_genres:
        - biography
        - documentary
        - game-show
        - history
        - music
        - new
        - reality-tv
        - romance
        - sport
        - talk-show
  TV_Series:
    series:
      - A Gifted Man
      - Alcatraz
      - Bones
      - Castle
      - Continuum
      - Criminal Minds
      - CSI
      - "CSI: Miami"
      - "CSI: New York"
      - "CSI: NY"
      - Dirty Jobs
      - Family Guy
      - Flashpoint
      - Futurama
      - Game of Thrones
      - Grimm
      - Jeff Dunham
      - Law and Order
      - "Law and Order: Criminal Intent"
      - "Law and Order: Special Victims Unit"
      - "Law and Order: Special Victums Unit"
      - "Law & Order"
      - "Law & Order: Criminal Intent"
      - "Law & Order: Special Victims Unit"
      - "Law & Order: Special Victums Unit"
      - Mythbusters
      - NCIS
      - Primeval
      - "Rizzoli & Isles"
      - Robot Chicken
      - Saving Hope
      - South Park
      - Supernatural
      - The Closer
      - The Fades
      - The River
      - The Simpsons
      - The Walking Dead
      - Undercover Boss
      - Unforgettable
      - Warehouse 13
      - Who Do You Think You Are
feeds:
  Apple_Trailers:
    apple_trailers: 720p
    accept_all: yes
    download: /home/harleypig/Dropbox/Video
    priority: 5
  TV_EZTV:
    rss: http://ezrss.it/feed/
    preset: TV_Series
    priority: 10
  Premieres_EZTV:
    rss: http://ezrss.it/feed/
    preset: premieres
    priority: 10
  TV_ShowRSS:
    rss: http://showrss.karmorra.info/rss.php?user_id=6174&hd=0&proper=1
    preset: TV_Series
    priority: 15
  Premieres_ShowRSS:
    rss: http://showrss.karmorra.info/rss.php?user_id=6174&hd=0&proper=1
    preset: premieres
    priority: 15
#  TV_KickAssTorrents:
#    rss: http://www.kickasstorrents.com/tv/2/?field=time_add&sorder=desc&rss=1
#    preset: TV_Series
#    priority: 20
#  Premieres_KickAssTorrents:
#    rss: http://www.kickasstorrents.com/tv/2/?field=time_add&sorder=desc&rss=1
#    preset: premieres
#    priority: 20
#  TV_RlsLog:
#    rlslog: http://www.rlslog.net/category/tv-shows/
#    preset: TV_Series
#    priority: 25
#  TV_Sceper:
#    scenereleases: http://sceper.eu/category/tv-shows/tv-shows-x264?themedemo=SceneRLSv3
#    preset: TV_Series
#    priority: 30
#  TV_BTJunkie:
#    rss: http://btjunkie.org/rss.xml?c=4
#    preset: TV_Series
#    priority: 35
#  TV_BTCHAT:
#    rss: http://rss.bt-chat.com/?cat=9
#    preset: TV_Series
#    priority: 40
  Premieres_BTCHAT:
    rss: http://rss.bt-chat.com/?cat=9
    preset: premieres
    priority: 40
#  TV_TorrentDay:
#    rss: http://www.torrentday.com/get_rss.php?feed=direct&user=harleypig&cat=22,2,14,7&passkey=dfa1b3706146b096df8dbb9069ca41a4
#    preset: TV_Series
#    priority: 45
  Premieres_TorrentDay:
    rss: http://www.torrentday.com/get_rss.php?feed=direct&user=harleypig&cat=22,2,14,7&passkey=dfa1b3706146b096df8dbb9069ca41a4
    preset: premieres
    priority: 45
#  TV_TorrentReactor:
#    rss: http://www.torrentreactor.net/rss/rss_8.xml
#    preset: TV_Series
#    priority: 50
  Premieres_TorrentReactor:
    rss: http://www.torrentreactor.net/rss/rss_8.xml
    preset: premieres
    priority: 50
#  Mini_Series_Sceper:
#    scenereleases: http://sceper.eu/category/tv-shows/mini-series?themedemo=SceneRLSv3
#    accept_all: yes
#    priority: 55
#  Movies_RlsLog_DVDRip:
#    rlslog: http://www.rlslog.net/category/movies/dvdrip
#    accept_all: yes
#    preset: IMDB
#    priority: 60
#  Movies_RlsLog_DVDScr:
#    rlslog: http://www.rlslog.net/category/movies/dvdscr
#    accept_all: yes
#    preset: IMDB
#    priority: 65
#  EBook_RlsLog:
#    rlslog: http://www.rlslog.net/category/ebook/ebook
#    accept_all: yes
#    priority: 70
