presets:
  TVShows:
    download: /home/harleypig/torrents/torrent
    series:
      - Bedlam
      - Bones
      - Castle
      - City Homicide
      - Cold Case
      - Cops
      - Cops L A C
      - Covert Affairs
      - Criminal Minds
      - "Criminal Minds: Suspect Behavior"
      - CSI
      - "CSI: Miami"
      - "CSI: New York"
      - Dirty Jobs
      - Eureka
      - Fairly Legal
      - Family Guy
      - Flashpoint
      - Futurama
      - "Harry's Law"
      - In Plain Sight
      - Law and Order
      - "Law and Order: Criminal Intent"
      - "Law and Order: Special Victims Unit"
      - "Law and Order: Special Victums Unit"
      - "Law & Order"
      - "Law & Order: Criminal Intent"
      - "Law & Order: Special Victims Unit"
      - "Law & Order: Special Victums Unit"
      - Leverage
      - Memphis Beat
      - Mythbusters
      - NCIS
      - Numb3rs
      - Outlaw
      - Persons Unknown
      - Primeval
      - "Rizzoli & Isles"
      - Robot Chicken
      - Sherlock
      - South Park
      - Stargate Universe
      - Supernatural
      - Suspect Behavior
      - The Closer
      - The Forgotten
      - The Simpsons
      - The Walking Dead
      - Undercover Boss US
      - Unnatural History
      - Warehouse 13
      - Who Do You Think You Are
      - Falling Skies
      - Necessary Roughness
feeds:
  ShowRSS:
    rss: http://showrss.karmorra.info/rss.php?user_id=6174&hd=0&proper=1
    preset: TVShows
  EZTV:
    rss: http://ezrss.it/feed/
    preset: TVShows
  BTJunkie:
    rss: http://btjunkie.org/rss.xml?c=4
    preset: TVShows
  BTCHAT:
    rss: http://rss.bt-chat.com/?cat=9
    preset: TVShows
  KickAssTorrents:
    rss: http://www.kickasstorrents.com/tv/2/?field=time_add&sorder=desc&rss=1
    preset: TVShows
  TorrentDay:
    rss: http://www.torrentday.com/get_rss.php?feed=direct&user=harleypig&cat=22,2,14,7&passkey=dfa1b3706146b096df8dbb9069ca41a4
    preset: TVShows
#  TorrentReactor:
#    rss: http://www.torrentreactor.net/rss/rss_8.xml
#    preset: TVShows
#  RlsLog:
#    rlslog: http://www.rlslog.net/category/tv-shows/
#    preset: TVShows
