templates:
  premieres:
    thetvdb_lookup: yes
    download: ~/rtorrent/watch/start/
    rtorrent_magnet: ~/rtorrent/watch/start/
    regexp:
      reject:
        - documentary: {from: series_genres}
        - talk show: {from: series_genres}
        - game show: {from: series_genres}
        - reality: {from: series_genres}
        - children: {from: series_genres}
        - home and garden: {from: series_genres}
    series_premiere: yes
  tv:
    download: ~/rtorrent/watch/start/
    rtorrent_magnet: ~/rtorrent/watch/start/
    configure_series:
      settings:
        upgrade: yes
      from:
        text:
          url: http://next-episode.net/PAGES/misc/export_calendar?z&u=harleypig&k=f5978573acadacdc2d12611096045488.ics
          entry:
            title: ^SUMMARY:(.*) - [0-9]+x[0-9]+.*$
            url: ^SUMMARY:(.*) - [0-9]+x[0-9]+.*$
  movies:
    download: ~/rtorrent/watch/start/
    rtorrent_magnet: ~/rtorrent/watch/start/
    imdb:
      min_score: 5.0
      min_votes: 100
      reject_genres:
        - biography
        - documentary
        - game-show
        - music
        - talk-show
tasks:
#  apple_trailers:
#    rss: http://pipes.yahoo.com/pipes/pipe.run?_id=3a8394a8d15d278e88f115979513d138&_render=rss
#    accept_all: yes
#    download: ~/Dropbox/video_trailers/
#    priority: 1
#    seen: local  # We don't want accepted entries from this feed to affect actual movie download feeds.
  tv_ezrss:
    rss: http://ezrss.it/feed/
    template: tv
    priority: 2
  tv_showrss:
    rss: http://showrss.info/rss.php?user_id=6174&hd=null&proper=null
    template: tv
    priority: 5
  tv_kickasstorrents:
    rss: http://kickass.to/tv/?rss=1
    template: tv
    priority: 10
  tv_btchat:
    rss: http://rss.bt-chat.com/?group=3
    template: tv
    priority: 10
  tv_torrentz:
    rss: http://torrentz.eu/feed
    template: tv
    priority: 10
  tv_extratorrent:
    rss: http://extratorrent.com/rss.xml?cid=8
    template: tv
    priority: 10
  tv_feedburner:
    rss: http://feeds.feedburner.com/eztv-rss-atom-feeds?format=xml
    template: tv
    priority: 10
  premieres_ezrss:
    rss: http://ezrss.it/feed/
    template: premieres
    priority: 15
  premieres_showrss:
    rss: http://showrss.info/feeds/all.rss
    template: premieres
    priority: 20
  premieres_kickasstorrents:
    rss: http://kickass.to/tv/?rss=1
    template: premieres
    priority: 20
  premieres_btchat:
    rss: http://rss.bt-chat.com/?group=3
    template: premieres
    priority: 20
  premieres_torrentz:
    rss: http://torrentz.eu/feed
    template: premieres
    priority: 20
  premieres_extratorrent:
    rss: http://extratorrent.com/rss.xml?cid=8
    template: premieres
    priority: 20
  premieres_feedburner:
    rss: http://feeds.feedburner.com/eztv-rss-atom-feeds?format=xml
    template: premieres
    priority: 20
  rlslog_dvdrips:
    rlslog: http://www.rlslog.net/category/movies/dvdrip/
    template: movies
    priority: 30
  rlslog_dvdscreeners:
    rlslog: http://www.rlslog.net/category/movies/dvdscr/
    template: movies
    priority: 30
