presets:
  TVShows:
    download: /home/harleypig/torrents/torrent
    series:
      - Alphas
      - Bones
      - Castle
      - City Homicide
      - Cold Case
      - Covert Affairs
      - Criminal Minds
      - "Criminal Minds: Suspect Behavior"
      - CSI
      - "CSI: Miami"
      - "CSI: New York"
      - Dirty Jobs
      - Eureka
      - Falling Skies
      - Family Guy
      - Flashpoint
      - Futurama
      - "Harry's Law"
      - In Plain Sight
      - Law and Order
      - "Law and Order: Criminal Intent"
      - "Law and Order: Special Victims Unit"
      - "Law and Order: Special Victums Unit"
      - "Law & Order"
      - "Law & Order: Criminal Intent"
      - "Law & Order: Special Victims Unit"
      - "Law & Order: Special Victums Unit"
      - Memphis Beat
      - Mythbusters
      - NCIS
      - Numb3rs
      - Outlaw
      - Persons Unknown
      - Primeval
      - "Rizzoli & Isles"
      - Robot Chicken
      - South Park
      - Supernatural
      - The Closer
      - The Simpsons
      - The Walking Dead
      - Undercover Boss
      - Warehouse 13
feeds:
  Trailers:
    apple_trailers: 480p
    accept_all: yes
    download: /home/harleypig/Dropbox/Video
#  ShowRSS:
#    rss: http://showrss.karmorra.info/rss.php?user_id=6174&hd=0&proper=1
#    preset: TVShows
#  EZTV:
#    rss: http://ezrss.it/feed/
#    preset: TVShows
  BTJunkie:
    rss: http://btjunkie.org/rss.xml?c=4
    preset: TVShows
  BTCHAT:
    rss: http://rss.bt-chat.com/?cat=9
    preset: TVShows
  KickAssTorrents:
    rss: http://www.kickasstorrents.com/tv/2/?field=time_add&sorder=desc&rss=1
    preset: TVShows
  TorrentDay:
    rss: http://www.torrentday.com/get_rss.php?feed=direct&user=harleypig&cat=22,2,14,7&passkey=dfa1b3706146b096df8dbb9069ca41a4
    preset: TVShows
#  TorrentReactor:
#    rss: http://www.torrentreactor.net/rss/rss_8.xml
#    preset: TVShows
#  RlsLog:
#    rlslog: http://www.rlslog.net/category/tv-shows/
#    presett: TVShows
