There is a FlexGet process already running for this config, sending execution there.
--- config from task: apple_movie_trailers
accept_all: true
apple_trailers: 480p
download: /home/media2/trailers
free_space: {path: /home/media2, space: 1024}
priority: 10
seen: local
template: no_global

---
2016-09-14 01:50 WARNING  configure_series sceper_tv       Input text did not return anything
2016-09-14 01:50 INFO     configure_series sceper_tv       Did not get any series to generate series configuration
--- config from task: sceper_tv
configure_series:
  from:
    text:
      entry: {title: '^SUMMARY:(.*?) - [0-9]+.[0-9]+.*$', url: '^SUMMARY:(.*?) - [0-9]+.[0-9]+.*$'}
      url: http://next-episode.net/calendar.ics?u=harleypig&k=fa215571403f9e8ba3e6a3c5ec413284
  settings: {tracking: backfill, upgrade: true}
content_filter:
  reject: ['*.avi', '*.part0*', password.txt, '*.r[0-9]*', '*.rar', '*.zip', '*hevc*']
  require: ['*.mkv', '*.mp4', '*.mpeg', '*.mpg', '*.wmv']
  require_mainfile: true
  strict: false
content_size: {max: 1500, strict: false}
download: /home/harleypig/videos/torrents/
exists_series: {allow_different_qualities: better, path: /home/media2/tv/}
free_space: {path: /home/media, space: 1024}
magnets: false
priority: 20
sceper: http://sceper.ws/category/tv-shows
template: tv
verify_ssl_certificates: false

---
2016-09-14 01:50 WARNING  configure_series tv_shows        Input text did not return anything
2016-09-14 01:50 INFO     configure_series tv_shows        Did not get any series to generate series configuration
--- config from task: tv_shows
configure_series:
  from:
    text:
      entry: {title: '^SUMMARY:(.*?) - [0-9]+.[0-9]+.*$', url: '^SUMMARY:(.*?) - [0-9]+.[0-9]+.*$'}
      url: http://next-episode.net/calendar.ics?u=harleypig&k=fa215571403f9e8ba3e6a3c5ec413284
  settings: {tracking: backfill, upgrade: true}
content_filter:
  reject: ['*.avi', '*.part0*', password.txt, '*.r[0-9]*', '*.rar', '*.zip', '*hevc*']
  require: ['*.mkv', '*.mp4', '*.mpeg', '*.mpg', '*.wmv']
  require_mainfile: true
  strict: false
content_size: {max: 1500, strict: false}
download: /home/harleypig/videos/torrents/
exists_series: {allow_different_qualities: better, path: /home/media2/tv/}
free_space: {path: /home/media, space: 1024}
inputs:
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'http://extratorrent.cc/rss.xml?cid=8'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://eztv.ag/ezrss.xml'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'http://showrss.info/feeds/all.rss'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://isohunt.to/rss/rss.xml'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://rarbg.to/rss.php?categories=18;41'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://www.limetorrents.cc/rss/'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://yts.ag/rss'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'http://www.torrentdownloads.me/rss2/8'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://showrss.info/user/82621.rss?magnets=false&namespaces=true&name=clean&quality=null&re=null'}
magnets: false
priority: 20
template: [tv_urls, tv]
verify_ssl_certificates: false

---
2016-09-14 01:50 WARNING  configure_series tv_nzb          Input text did not return anything
2016-09-14 01:50 INFO     configure_series tv_nzb          Did not get any series to generate series configuration
--- config from task: tv_nzb
configure_series:
  from:
    text:
      entry: {title: '^SUMMARY:(.*?) - [0-9]+.[0-9]+.*$', url: '^SUMMARY:(.*?) - [0-9]+.[0-9]+.*$'}
      url: http://next-episode.net/calendar.ics?u=harleypig&k=fa215571403f9e8ba3e6a3c5ec413284
  settings: {tracking: backfill, upgrade: true}
content_filter:
  reject: ['*.avi', '*.part0*', password.txt, '*.r[0-9]*', '*.rar', '*.zip', '*hevc*']
  require: ['*.mkv', '*.mp4', '*.mpeg', '*.mpg', '*.wmv']
  require_mainfile: true
  strict: false
content_size: {max: 1500, strict: false}
download: /home/harleypig/videos/torrents/
exists_series: {allow_different_qualities: better, path: /home/media2/tv/}
free_space: {path: /home/media, space: 1024}
inputs:
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'http://extratorrent.cc/rss.xml?cid=8'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://eztv.ag/ezrss.xml'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'http://showrss.info/feeds/all.rss'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://isohunt.to/rss/rss.xml'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://rarbg.to/rss.php?categories=18;41'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://www.limetorrents.cc/rss/'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://yts.ag/rss'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'http://www.torrentdownloads.me/rss2/8'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://showrss.info/user/82621.rss?magnets=false&namespaces=true&name=clean&quality=null&re=null'}
magnets: false
priority: 25
sabnzbd: {key: 8c71303c16a3985b7d25cc05130520fa, url: 'http://127.0.0.1:8085/sabnzbd/api?'}
template: [tv_urls, tv]
verify_ssl_certificates: false

---
--- config from task: premiere_shows
content_filter:
  reject: ['*.avi', '*.part0*', password.txt, '*.r[0-9]*', '*.rar', '*.zip', '*hevc*']
  require: ['*.mkv', '*.mp4', '*.mpeg', '*.mpg', '*.wmv']
  require_mainfile: true
  strict: false
download: /home/harleypig/videos/torrents/
free_space: {path: /home/media, space: 1024}
inputs:
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'http://extratorrent.cc/rss.xml?cid=8'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://eztv.ag/ezrss.xml'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'http://showrss.info/feeds/all.rss'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://isohunt.to/rss/rss.xml'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://rarbg.to/rss.php?categories=18;41'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://www.limetorrents.cc/rss/'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://yts.ag/rss'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'http://www.torrentdownloads.me/rss2/8'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://showrss.info/user/82621.rss?magnets=false&namespaces=true&name=clean&quality=null&re=null'}
magnets: false
priority: 30
regexp:
  reject:
    - documentary: {from: series_genres}
    - talk show: {from: series_genres}
    - game show: {from: series_genres}
    - reality: {from: series_genres}
    - children: {from: series_genres}
    - home and garden: {from: series_genres}
series_premiere: true
template: [tv_urls, premieres]
thetvdb_lookup: true
verify_ssl_certificates: false

---
--- config from task: movie_shows
content_filter:
  reject: ['*.avi', '*.part0*', password.txt, '*.r[0-9]*', '*.rar', '*.zip', '*hevc*']
  require: ['*.mkv', '*.mp4', '*.mpeg', '*.mpg', '*.wmv']
  require_mainfile: true
  strict: false
content_size: {max: 1500, strict: false}
download: /home/harleypig/videos/torrents/
free_space: {path: /home/media, space: 1024}
inputs:
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'http://extratorrent.cc/rss.xml?cid=4'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://isohunt.to/rss/rss.xml'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://rarbg.to/rss.php?categories=17;42;44;45;46;47'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://www.limetorrents.cc/rss/'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'https://yts.ag/rss'}
  - rss: {all_entries: true, ascii: true, group_links: false, silent: true, url: 'http://www.torrentdownloads.me/rss2/4'}
magnets: false
priority: 40
proper_movies: true
quality: [720p+, dvdscr+]
seen_movies: loose
template: [movie_urls, movies]
verify_ssl_certificates: false

---
--- config from task: sceper_movies
content_filter:
  reject: ['*.avi', '*.part0*', password.txt, '*.r[0-9]*', '*.rar', '*.zip', '*hevc*']
  require: ['*.mkv', '*.mp4', '*.mpeg', '*.mpg', '*.wmv']
  require_mainfile: true
  strict: false
content_size: {max: 1500, strict: false}
download: /home/harleypig/videos/torrents/
free_space: {path: /home/media, space: 1024}
magnets: false
priority: 40
proper_movies: true
quality: [720p+, dvdscr+]
sceper: http://sceper.ws/category/movies
seen_movies: loose
template: movies
verify_ssl_certificates: false

---
